 <div class="box">
      <div class="box-main">

        <div class="header">
          <p class="p-header">Fazer Login</p>
        </div>
        <form action="/logar" method="POST">
          <div class="main-login">
            <p class="p-main">Email:</p>
            <input type="text" name="email">
            <p class="p-main">Senha:</p>
            <input type="password" name="password">
          </div>
          <div class="footer-btn">
            <button class="btn-f">Entrar</button>
          </div>
        </form>
        <div class="divisor"></div>
        <div class="register">
          <p class="p-footer">Não Possui cadastro? <a href="/register" class="a-footer">Cadastre-se</a></p>
        </div>
      </div>
      </div>